.homepage-header {
  /* border: 1px solid white; */
  display: flex;
  justify-content: space-around;
}

main {
  display: flex;
  flex-direction: column;
}

main > div {
  display: flex;
  justify-content: space-around;
}
