.homepage-header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3rem;
}

main {
  display: flex;
  flex-direction: column;
}

main > div {
  display: flex;
  justify-content: space-around;
}
